tbody {
    text-align: left;
    font-family: 'Roboto', Courier, monospace;
    width: 45%;
    border-color: white;
    border-style: none;
}

td {
    border: 1px solid white;
    padding: 5px;
    color: white;
    background-color: rgb(243, 136, 36);
}

th {
    padding: 10px 5px;
    background-color: rgb(50, 53, 53);
    color: white;
}